.react-tagsinput {
  overflow: hidden;
}

.react-tagsinput--focused {
}

.react-tagsinput-tag {
  background-color: $white;
  border: 1px solid $lighten-green;
  border-radius: 2px;
  display: inline-block;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 8px;
  margin-right: 5px;
  padding: 5px;

  a::before {
    content: ' ×';
  }
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
}

$tag-border-color: #ced4da;

.react-tagsinput-input {
  border: 1px solid $tag-border-color;
  border-radius: 4px;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  height: 35px;
  outline: none;
  padding: 6px 12px;
  width: 100%;
}
