.header
  font:
    family: 'Lucida Grande', Meiryo, sans-serif
    weight: bold

  .nav-brand
    display: flex
    padding-bottom: 10px

  .top-link
    padding: 7px
    text-decoration: none

  .brand-image
    width: 60px

  .brand-name
    border-bottom: dotted 3px $green
    color: $green
    font-size: 16px
    padding: 3px

  .menu
    list-style: none

    .menu-link
      color: $green
      font-size: 14px
      text-decoration: none

      &:hover
        color: $darken-green
