@import variables

.sketch-picker
  position: absolute
  margin-top: 28px
  margin-left: 5px

.color-code-back-box
  background-color: $white
  display: inline-block
  padding: 1px 3px
  vertical-align: middle
  margin-right: 8px

  .color-code-box
    display: inline-block
    padding: 7px 12px
    margin-top: 4px

.color-box-component
  .color-code-box
    cursor: pointer
    display: inline-block
    padding: 7px
    margin: 3px 4px 3px 0

  .color-code-text
    float: right
    position: relative
    margin-top: 1px
