$green: #76891a;
$red: #ac5e78;
$blue: #5e78ac;
$yellow: #ffd351;
$white: #fff;
$darken-green: darken($green, 10%);
$purple: #9b7ec9;
$pink: #ac5e9f;
$info: #61abb3;
$darken-pink: darken($pink, 10%);
$rgba3-pink: rgba($pink, .3);
$pink-translucent: rgba($pink, .6);
$green-translucent: rgba($green, .6);
$light-green: #c8d0a3;
$light-green-translucent: rgba($light-green, .5);
$rgba5-green: rgba($green, .5);
$lighten-green: lighten($green, 15%);
$rgba2-lighten-green: rgba($lighten-green, .2);
$translucent: rgba($white, .5);
