@import 'variables'

body
  background-image: url('../images/background-wood.png')
  color: $darken-green
  font-size: 12px
  min-height: 100vh
  padding-bottom: 15px
  position: relative

.disabled
  cursor: default

.light-green
  color: $green-translucent

.dark-green
  color: $darken-green

.green
  color: $green

.pink
  color: $pink

.red
  color: $red

.blue
  color: $blue

.left-icon
  margin-right: 5px

.right-icon
  margin-left: 5px

.list-group-item
  background-color: $translucent
  border: 1px solid $green

.navbar
  padding-top: 0

.card
  border-color: $green
  background: $translucent

.card-header
  background-color: $translucent
  border-color: $green
  font-size: 14px
  padding: 10px 15px

.card-body
  border-color: $green

  &.with-background-image
    background-image: url('../images/filter-pig.gif')
    background-repeat: no-repeat
    background-size: 120% auto

.form-control
  font-size: 14px
  border-color: $light-green

  &:focus
    border-color: $light-green
    box-shadow: 0 0 0 3px $light-green

.required::after
  color: $pink
  content: '*'
  font-weight: bold
  margin-left: 4px

.btn
  font-size: 13px

.btn-primary
  background-color: $pink
  border-color: $pink
  color: $white

  &:hover
    background-color: $darken-pink
    border-color: $darken-pink

  &:focus, &.focus
    @extend :hover
    box-shadow: 0 0 0 3px $rgba3-pink

  &:disabled
    background-color: $pink
    border-color: $pink

.btn-light
  background-color: $white
  border-color: $light-green

  &:hover
    background-color: $light-green-translucent
    border-color: $light-green

.editing-badge
  background-color: #61ABB3
  top: -8px
  right: 10px
  position: relative
  padding: 5px

.icon-field
  .fa-edit
    cursor: pointer
    width: 30px
    height: 30px
    padding: 6px 6px 6px 8px
    border-radius: 3px

    &:hover
      background-color: $rgba2-lighten-green

  .fa-times
    @extend .fa-edit
    padding: 7px

.table td
  height: 60px
  border-top: 1px solid $light-green-translucent

.table td, .table th
  vertical-align: middle
