@import variables

.dashboard-year
  background-color: $translucent
  border: 1px solid $green
  font:
    size: 14px
    weight: bold
  height: 43px
  padding: 10px
  text-align: center

  .human-month-component
    color: $darken-green

  .btn-sm
    margin:
      left: 20px
      right: 20px
    padding: 1px 6px
    position: relative
    top: -2px

  .btn
    &:disabled
      cursor: not-allowed


.dashboard-tally-field
  padding: 10px 0

  .tally-time
    padding-right: 10px

.monthly-data-component
  padding-top: 20px

  .table
    display: inline

    td
      border: 1px solid $green
      height: 30px
      width: 90px

  .yearly-data-component
    td
      width: 120px

  .list-icon
    a
      color: $darken-green

.chart-line
  padding-top: 40px

.monthly-bar-chart-component
  display: table-cell

.yearly-pie-chart-component
  display: table-cell

.dashboards-link
  a
    color: $darken-green

    &:hover
      color: $darken-green

.dashboard + .dashboard
  padding-top: 20px

.other-tally-field-component
  padding-bottom: 10px
  text-align: right

  .years-select
    display: inline-block
    margin-right: 10px
    width: 120px

  .tally-button-component
    margin-bottom: 5px

.monthly-category-bar-chart-component
  padding-top: 40px

.category-dashboard-component
  min-height: 350px
