@import variables

.dashboard-year
  background-color: $translucent
  border: 1px solid $green
  font:
    size: 14px
    weight: bold
  padding: 10px
  text-align: center

.dashboard-tally-field
  padding-top: 10px

  .tally-time
    padding-right: 10px
