@import 'variables'

// ブランド
.nav-brand
  font-family: 'Lucida Grande', Meiryo, sans-serif
  font-weight: bold
  display: table

  .brand-image
    float: left
    width: 60px

  .brand-name
    display: table-cell
    border-bottom: dotted 3px $green
    color: $green
    font-size: 16px
    padding: 3px

// リンク
.nav-link
  font-size: 14px
  color: $green

  &:hover
    color: $darken-green

.nav-link.active-link-menu
    color: $darken-green
