@import variables

.today-button-component
  margin-left: 10px

.date-picker-field
  padding-left: 15px

.badge-field
  font-size: 15px
  position: absolute
  right: 4px
  top: 4px

.validation-errors-field
  border: 1px solid $pink
  margin-bottom: 15px
  padding: 10px 10px 12px

.date-select-field
  text-align: center

  .simple-date
    vertical-align: middle

.card
  .card
    margin: 0 12px

    .btn
      padding: 1px 6px

    tr
      height: 0

    td
      padding: 7px
