@import variables

.today-button-component
  margin-left: 10px

.date-picker-field
  padding-left: 15px

.badge-field
  font-size: 15px
  position: absolute
  right: 4px
  top: 4px

.date-select-field
  text-align: center

  .simple-date
    vertical-align: middle

.card
  .card
    margin: 0 12px

    .btn
      padding: 1px 6px

    tr
      height: 0

    td
      padding: 7px

.new-record-form-component
  .btn-primary
    margin-bottom: 15px

.records-component
  &.table
    margin-top: 10px

    td
      border-bottom: 1px solid $light-green-translucent
      border-top: 0
      height: 40px

  .record-tags-td
    min-width: 50px

    span
      cursor: pointer
      display: table-cell
      padding: 0 3px

.tag-name-component
  background-color: $white
  border: solid 1px $green
  border-radius: 3px
  padding: 5px

.tag-name-component + .tag-name-component
  margin-left: 5px
