@import variables

.center
  width: 100%

.month-select-field
  margin: auto
  padding-bottom: 10px
  text-align: center
  width: 300px

  .simple-date
    font-size: 18px

.search-keywords-component
  height: 60px
  padding: 10px

  .search-keyword
    background-color: $rgba2-lighten-green
    border: 1px solid $green-translucent
    border-radius: 5px
    margin-left: 10px
    padding: 5px

  .month-selectbox
    bottom: 70px
    left: 10px
    position: relative

  .search-keyword-cancel
    cursor: pointer

.records-list-component
  .record-category-td,
  .record-breakdown-td,
  .record-place-td
    span
      cursor: pointer
