@import variables

.settings-top-component
  .form-group
    .label
      width: 100px

    .radio-span
      padding: 0 10px 0 0

    .radio-input
      visibility: hidden

    .radio-label
      cursor: pointer
