.balance-of-payments-radio-buttons-component
  .form-check
    display: inline-block
  .form-check-input
    margin-left: 0
    position: static
  .form-check-label
    margin: 0 5px

.categories-select-box-component
  button
    margin: 5px 8px

.table
  .radio-td
    text-align: center
    width: 140px
