.categories-select-box-component
  button
    margin: 5px 8px

.table
  .radio-td
    text-align: center
    width: 140px

.balance-of-payments-icons-component
  font-size: 22px
  i
    cursor: pointer
    vertical-align: middle
    padding-right: 10px