$green: #76891a;

body {
  background-image: url('background-wood.png');
  font-size: 14px;
}

.left-icon {
  padding-right: 5px;
}

.navbar .navbar-brand {
  font-family: 'Lucida Grande', Meiryo, sans-serif;
  font-weight: bold;
  padding-left: 10px;

  .brand-name {
    border-bottom: dotted 3px $green;
    color: $green;
    font-size: 16px;
    padding: 3px;
    vertical-align: middle;
  }

  img {
    float: left;
    width: 60px;
  }
}

.list-group-item:hover {
  .hover-menu-image {
    background-image: url('pig-footprints.gif');
    background-size: cover;
    height: 18px;
    width: 20px;
  }
}
