$green: #76891a;
$darken-green: darken($green, 10%);
$purple: #9b7ec9;
$pink: #ac5e9f;
$light-green: #c8d0a3;
$light-green-translucent: rgba($light-green, .5);

body {
  background-image: image-url('background-wood.png');
  color: $darken-green;
  font-size: 14px;
}

button {
  font-size: 12px;
}

.pink {
  color: $pink;
}

.red {
  color: $red;
}

.blue {
  color: $blue;
}

.yellow {
  color: $warning;
}

.purple {
  color: $purple;
}

.light-blue {
  color: $info;
}

.bold {
  font-weight: bold;
}

.input-menu {
  border-bottom: dotted 2px $pink;
}

.left-icon {
  padding-right: 5px;
}

.right-icon {
  padding-left: 5px;
}

.navbar .navbar-brand {
  font-family: 'Lucida Grande', Meiryo, sans-serif;
  font-weight: bold;
  padding-left: 10px;

  .brand-name {
    border-bottom: dotted 3px $green;
    color: $green;
    font-size: 16px;
    padding: 3px;
    vertical-align: middle;
  }

  img {
    float: left;
    width: 60px;
  }
}

.list-group-item:hover {
  .hover-menu-image {
    background-image: image-url('pig-footprints.gif');
    background-size: cover;
    height: 18px;
    width: 20px;
  }
}

.list-group-item {
  .active-menu-image {
    background-image: image-url('pig-footprints-both.gif');
    background-size: cover;
    height: 18px;
    width: 20px;
  }
}

$twitter-border-color: #2e6da4;

.btn-primary.twitter {
  border-color: $twitter-border-color;
}

.with-background-panel {
  background-image: image-url('filter-pig.gif');
  background-repeat: no-repeat;
  background-size: 120% auto;
}

.form-group.required {
  label::after {
    color: $pink;
    content: '*';
    font-weight: bold;
    margin-left: 4px;
  }
}

.field-with-errors {
  .form-control {
    border-color: $pink;
  }

  .form-control:focus {
    box-shadow: 0 0 0 3px rgba($pink, .3);
  }
}

.table {
  tr {
    height: 60px;
  }

  tr:hover {
    .left-edit-target {
      background-color: rgba(lighten($green, 10%), .2);
      border-bottom-left-radius: 6px;
      border-top-left-radius: 8px;
    }

    .center-edit-target {
      background-color: rgba(lighten($green, 10%), .2);
    }

    .right-edit-target {
      background-color: rgba(lighten($green, 10%), .2);
      border-bottom-right-radius: 6px;
      border-top-right-radius: 6px;
    }
  }

  .is-editing-tr {
    animation: flash 1.5s infinite linear;
    background-color: rgba(lighten($green, 10%), .2);
  }

  @keyframes flash {
    0% {
      opacity: .2;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: .2;
    }
  }

  td {
    display: table-cell;
    vertical-align: middle;
  }

  .radio-td {
    text-align: center;
    width: 140px;
  }

  .button-td {
    text-align: center;
    width: 110px;
  }

  .badge-td {
    text-align: center;
    width: 65px;
  }

  .icon-td {
    text-align: center;
    width: 26px;
  }

  .tags-td {
    text-align: center;
  }

  .edit-icon-td {
    cursor: pointer;
  }

  .trash-icon-td {
    text-align: right;
  }

  .categorized-places-td {
    width: 35%;
  }

  .breakdown-category-td {
    height: 65px;
    width: 15%;
  }

  .color-code-td {
    width: 70px;
  }

  .monthly-td {
    width: 110px;
  }

  .far.fa-trash-alt, .fas.fa-times, .fas.fa-edit, .fas.fa-info-circle {
    padding: 6px;
  }

  .far.fa-trash-alt:hover, .fas.fa-times:hover, .fas.fa-edit:hover, .fas.fa-info-circle:hover {
    background-color: rgba(lighten($green, 15%), .3);
    border-radius: 4px;
    cursor: pointer;
  }

  .badge.badge-info {
    color: $white;
    cursor: pointer;
    padding: 5px;

    span {
      padding: 4px;
    }
  }
}

.card-body .form-row {
  height: 70px;

  &.without-error {
    height: 44px;
  }

  .form-check {
    padding-top: 7px;
  }
}

.error-messages {
  .status-code {
    color: rgba($link-color, .5);
    font-size: 150px;
    font-weight: bold;
  }

  .error-message {
    span {
      border-left: 4px solid $green;
      padding: 15px;
    }
  }
}

.color-code-box-background {
  background-color: $white;
  display: table-cell;
  height: 35px;
  vertical-align: middle;
  width: 45px;

  &.change-disabled {
    height: 26px;
    width: 40px;
  }
}

.color-code-box {
  cursor: pointer;
  height: 25px;
  margin: 5px;
  width: 35px;

  &.change-disabled {
    cursor: default;
    height: 18px;
    margin: 4px;
    width: 32px;
  }
}

.color-picker {
  position: absolute;
}

.card .card {
  margin: 12px;

  .card-body {
    padding: 0;
  }

  tr {
    height: 0;
  }

  td {
    padding: 7px;
  }

  .date-of-records-component {
    padding: 20px 10px 10px;
    text-align: center;
  }

  .charge-td {
    width: 80px;
  }
}

.form-group.date-picker > div {
  display: inline;
}

.today-button-component {
  padding-left: 10px;
  position: absolute;
}

.suggestion-item {
  display: inherit;
  vertical-align: middle;

  .suggestion-name {
    display: table-cell;
    padding: 3px 7px;
  }
}

.update-button-component + .copy-button-component,
.update-button-component + .cancel-button-component {
  padding-left: 10px;
}

.last-tally-at {
  padding: 0 10px;
}

.file-upload-field {
  border: dotted 1px $green;
  cursor: pointer;
  height: 100px;
  width: 100%;

  p {
    padding-top: 35px;
    text-align: center;
  }
}

.is-dragover {
  background-color: rgba(lighten($green, 10%), .2);
}

.loading-image {
  background-image: image-url('pig-loading.gif');
  background-size: contain;
  display: inline-block;
  height: 20px;
  width: 20%;
}

.picker-button {
  background-color: rgba($white, .7);
  border: solid 1px $green;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 8px;
  margin-left: 10px;
  padding: 4px 8px;

  &:hover {
    background-color: rgba(lighten($green, 10%), .2);
  }
}

.search-keyword-button {
  background-color: rgba($white, .7);
  border: solid 1px $green;
  border-radius: 2px;
  display: inline-block;
  margin-bottom: 8px;
  margin-left: 10px;
  padding: 4px 8px;

  i {
    cursor: pointer;
  }
}

.picker-label {
  display: block;
  padding: 5px 10px;
}

.monthly-balance-table-title {
  background-color: rgba($white, .4);
  border: solid 1px $green;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;

  span {
    font-size: 14px;
    font-weight: bold;
  }
}

.categories-select-box-component {
  button {
    margin: 5px 8px;
  }
}

.target-name {
  padding-right: 10px;
}

.space-bottom + .space-bottom {
  padding-top: 5px;
}

.mypage-memo {
  .memo-edit-line {
    text-align: right;
  }

  .memo-edit-icon {
    min-width: 50px;
    padding: 6px;
  }

  .memo-edit-icon:hover {
    background-color: rgba(lighten($green, 15%), .3);
    border-radius: 4px;
    cursor: pointer;
  }
}

.pig-loading-image {
  background-image: image-url('pig-loading.gif');
  background-repeat: no-repeat;
  background-size: cover;
  height: 18px;
  margin: 20px;
  width: 70px;
}

.search-keyword-link {
  cursor: pointer;
}
