.pie-chart-circle {
  background-color: #999;
  border-radius: 50%;
  height: 192px;
  width: 192px;
}

.category-pie-chart-component {
  display: inline-block;
}

.monthly-chart-component {
  display: inline-block;
}
