.ReactModalPortal > * {
  opacity: 0;
}

.ReactModal__Overlay {
  transition: opacity 200ms ease-in-out;

  &--after-open {
    opacity: 1;
  }

  &--before-close {
    opacity: 0;
  }
}

select.form-control:not([size]):not([multiple]) {
  height: 35px;
}
