nav
  padding: 0
  @media (max-width: 992px)
    .navbar-collapse
      height: 0
      opacity: 0
      overflow: hidden
      padding: 0
      transition: .8s

  input
    display: none

    &:checked ~ .navbar-collapse
      height: auto
      opacity: 1
      padding: 10px 0

  .navbar-brand
    font-family: 'Lucida Grande', Meiryo, sans-serif
    font-weight: bold
    padding-left: 10px

    .brand-name
      border-bottom: dotted 3px $green
      color: $green
      font-size: 16px
      padding: 3px
      vertical-align: middle

    img
      float: left
      width: 60px
