.records-card-body-component
  .file-uploaded-message
    margin-top: 10px

  .search-keyword-link
    cursor: pointer

.date-of-records-component,
.category-records-title
  padding: 20px 10px 10px
  text-align: center

.records-list-title
  font-size: 16px
  margin: auto
  text-align: center
  width: 200px

.records-totals-table
  text-align: right
  width: 400px

  th
    background-color: $light-green-translucent

  tr
    height: auto

  td
    width: 100px

.update-button-component + .copy-button-component,
.update-button-component + .cancel-button-component
  padding-left: 10px

.today-button-component
  padding-left: 10px
  position: absolute

.card
  .card
    margin: 12px

    .card-body
      padding: 0

    tr
      height: 0

    td
      padding: 7px

    .charge-td
      width: 80px

.picker-button
  background-color: $rgba7-white
  border: solid 1px $green
  border-radius: 2px
  cursor: pointer
  display: inline-block
  margin-bottom: 8px
  margin-left: 10px
  padding: 4px 8px

  &:hover
    background-color: $rgba2-lighten-green

.search-keyword-button
  background-color: $rgba7-white
  border: solid 1px $green
  border-radius: 2px
  display: inline-block
  margin-bottom: 8px
  margin-left: 10px
  padding: 4px 8px

i
  &.fas
    &.fa-times
      cursor: pointer

.table
  .is-editing-tr
    animation: flash 1.5s infinite linear
    background-color: $rgba2-lighten-green

  @keyframes flash
    0%
      opacity: .2

    50%
      opacity: 1

    100%
      opacity: .2

.all-templates-component
  padding-top: 10px

  .template-pickers-component
    padding-top: 10px

  .caret-icon
    i
      width: 15px

.new-record-form-component
  .currency
    font-size: 14px
    position: absolute
    top: 8px

  .record-charge
    margin-left: 30px

  .charge-input-group
    padding-right: 0

  .background-white
    background-color: $white

  .form-point-icon
    font-size: 13px
    position: absolute
    right: 15px
    top: 9px
    z-index: 4
